* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.container .logo {
  margin-bottom: 1.5rem;
}

.container .logo img {
  width: 18%;
}

.container .heading .heading__title {
  font-weight: 400;
  color: #969696;
  font-size: 1.25rem;
  margin: 1rem;
}

.container .heading .heading__title .bold {
  font-weight: 700;
  color: #151f29;
}

.container .heading .heading__paragraph {
  margin-bottom: 2rem;
}

.container .form__wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .form__wrapper form input, .container .form__wrapper form .btn {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 14px;
  margin-bottom: 0.75rem;
  outline: none;
}

.container .form__wrapper form ::-webkit-input-placeholder {
  color: #c2d3ff;
}

.container .form__wrapper form :-ms-input-placeholder {
  color: #c2d3ff;
}

.container .form__wrapper form ::-ms-input-placeholder {
  color: #c2d3ff;
}

.container .form__wrapper form ::placeholder {
  color: #c2d3ff;
}

.container .form__wrapper form .input__email {
  color: #151f29;
  border: 1px solid #c2d3ff;
}

.container .form__wrapper form .error {
  font-style: italic;
  color: red;
  font-size: 12px;
  text-align: left;
  padding-left: 1rem;
}

.container .form__wrapper form .btn {
  background-color: #4f7df3;
  border: 1px solid #4f7df3;
  color: #fff;
}

.container .form__wrapper form .btn:hover {
  background-color: #fff;
  color: #4f7df3;
  font-weight: 600;
}

.container .main-image {
  margin: 5rem 0;
}

.container .main-image img {
  width: 100%;
}

.container .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.container .socials ul li {
  margin-right: 2rem;
}

.container .socials ul li a {
  color: #4f7df3;
  border: 1px solid #4f7df3;
  padding: 0.5rem;
  border-radius: 50%;
}

.container .socials ul li a:hover {
  background-color: #4f7df3;
  color: #fff;
}

.container .socials ul li .fa-facebook-f {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 400px) {
  .form__wrapper {
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container .logo img {
    width: 8%;
  }
  .container .heading .heading__title {
    font-size: 3rem;
  }
  .container .form__wrapper {
    width: 60%;
  }
  .container .form__wrapper form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .form__wrapper form .input__email {
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
  }
  .container .form__wrapper form .btn {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container .form__wrapper form .error {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .container .main-image img {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */